app-negozio-card {
    width: 100%;
}

.row-img-shop-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    max-width: 100%;
}


.img-shop-container{
    width: 5rem;
    height: 5rem;
    max-height: 5rem;
    border-radius: 25%;
    box-shadow:0 0 3px rgba(121, 121, 121, 0.63);
    margin-top:-55px;
    background-color: white;
    
}

.img-shop {
    width: 4rem;
    height: 4rem;
    max-height: 4rem;
}