<mat-form-field class="ml-3" >
    <mat-label><h5>{{negozioSelected !== undefined ? negozioSelected.nome : 'Negozi disponibili'}}</h5></mat-label>
    <mat-select [formControl]="toppings">

        <mat-option *ngFor="let negozio of negozi" [value]="negozio" (click)="negozioSelected = negozio">
            {{negozio.nome}}
        </mat-option>

    </mat-select>
</mat-form-field>

<div *ngIf="negozioSelected !== undefined">
    <app-negozio-card [negozio]="negozioSelected"></app-negozio-card>
</div>