<app-card-info-negozio (negozioSelected)="changeNegozio($event)" [edit]="false">
</app-card-info-negozio>

<hr />
<div class="row-img-shop-container ">
 
    
        <div class="col-9 "></div>
        <div class="col-3 pr-0 ">
            <div class="img-shop-container d-flex justify-content-center align-items-center">
                <img alt="Web Studio" class="img-shop" src="../../../assets/images/shop.png" />
            </div>

        </div>
   
</div>


<div *ngIf="negozioSelected !== undefined">
    <app-negozio-card [negozio]="negozioSelected"></app-negozio-card>
</div>