app-negozio-card {
    width: 100%;
}

.row-img-shop-container {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -25px;
    max-width: 100%;
}


.img-shop-container{
    width: 6.5rem;
    height: 6rem;
    max-height: 6rem;
    border-radius: 25%;
    box-shadow:0 0 3px rgba(121, 121, 121, 0.63);
    margin-top:-65px;
    margin-left: -35px;
    background-color: white;
    
}

.img-shop {
    width: 6.1rem;
    height: 6rem;
    max-height: 6rem;
}