<div class="row mw-100 p-2">
    <div class="col-12 ">
        <mat-form-field class="ml-3">
            <mat-label>I Tuoi Negozi</mat-label>
            <mat-select [formControl]="toppings">

                <mat-option *ngFor="let negozio of negozi" [value]="negozio" (click)="negozioSelected = negozio">
                    {{negozio.nome}}
                </mat-option>

            </mat-select>
        </mat-form-field>

        <app-new-negozio-modal></app-new-negozio-modal>

    </div>
</div>

<hr />

<div *ngIf="negozioSelected !== undefined && negozioSelected !== null" class="row mw-100 p-2 mb-3">

    <h5 class="ml-5">{{negozioSelected !== undefined ? negozioSelected.nome : ''}}</h5>
    <button mat-button (click)="openDialog()" style="color: #6c757d; margin-top: -5px;">
        <mat-icon style="margin-top: -3px;">create</mat-icon>
    </button>

</div>

<div class="row mw-100 pl-2">
    <div class="col-12 ">
        <div *ngIf="negozioSelected !== undefined">

            <h6 class="text-muted custom-text">
                Magazzino</h6>

            <hr />

            <button *ngIf="!isAddProdotto" mat-button
                (click)="isAddProdotto = true; tipoSelezionato = undefined; sottoTipoSelezionato = undefined;"
                style="color: #6c757d;">
                <mat-icon style="margin-top: -3px;">add</mat-icon>
                Aggiungi Prodotto
            </button>

            <div *ngIf="isAddProdotto">

                <div class="row mb-3">
                    <button mat-button (click)="isAddProdotto = false" style="color: #6c757d;">
                        Annulla
                    </button>
                </div>

                <div class="row">

                    <mat-form-field class="ml-3">
                        <mat-label>Tipo Prodotti</mat-label>
                        <mat-select [formControl]="toppings">

                            <mat-option *ngFor="let tipo of listTipi" [value]="tipo"
                                (click)="tipoSelezionato = tipo ; sottoTipoSelezionato = undefined">
                                {{tipo.descrizione}}
                            </mat-option>

                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="ml-3" *ngIf="tipoSelezionato !== undefined">
                        <mat-label>
                            Sotto Tipo Prodotto
                        </mat-label>
                        <mat-select [formControl]="toppings">

                            <mat-option *ngFor="let sottotipo of tipoSelezionato.sottoTipi" [value]="sottotipo"
                                (click)="sottoTipoSelezionato = sottotipo">
                                {{sottotipo.descrizione}}
                            </mat-option>

                        </mat-select>
                    </mat-form-field>
                </div>

                <div *ngIf="sottoTipoSelezionato !== undefined" class="row">
                    <div class="w-100" *ngIf="sottoTipoSelezionato.prodottiAssociati.length > 0">
                        <table mat-table [dataSource]="sottoTipoSelezionato.prodottiAssociati"
                            class="mat-elevation-z0 w-100">
                            <ng-container matColumnDef="Prodotto">
                                <th mat-header-cell *matHeaderCellDef> Prodotto </th>
                                <td mat-cell *matCellDef="let element"> {{element.nomeProdotto}} </td>
                            </ng-container>
                            <ng-container matColumnDef="Prezzo">
                                <th mat-header-cell *matHeaderCellDef> Prezzo </th>
                                <td mat-cell *matCellDef="let element"> {{element.prezzo}}€ / {{element.unita}} </td>
                            </ng-container>
                            <ng-container matColumnDef="buttonAdd">
                                <th mat-header-cell *matHeaderCellDef> </th>
                                <td mat-cell *matCellDef="let element">
                                    <button mat-button (click)="addProdotto(element)"
                                        [disabled]="disableProdotto(element)">
                                        <mat-icon style="margin-top: -3px;">playlist_add</mat-icon>
                                    </button>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                    <div *ngIf="sottoTipoSelezionato.prodottiAssociati.length === 0" class="p-3">
                        Nessun prodotto associato
                    </div>

                </div>


            </div>

            <div *ngIf="!isAddProdotto">
                <div *ngFor="let tipo of negozioSelected.magazino.tipiAssociati" class="pl-2 pt-4">

                    <div class="row">
                        <div class="col-12">
                            <h6 class="text-muted custom-text">
                                {{tipo.descrizione}}</h6>
                        </div>
                    </div>
                    <mat-tab-group>
                        <div class="row ">
                            <div *ngFor="let sottoTipo of tipo.sottoTipi">
                                <mat-tab label="{{sottoTipo.descrizione}}">

                                    <div *ngFor="let prodotto of sottoTipo.prodottiAssociati">
                                        <div class="row p-0 mw-100 mt-2">

                                            <div class="col-12 p-0">
                                                <mat-card>
                                                    <div class="row">
                                                        <div class="col-lg-6 col-xs-12">
                                                            <div class="col-12">
                                                                <h6 class="text-muted"
                                                                    style="font-weight: 500; font-family: Amazon Ember,Amazon Arabic Ember,Arial,sans-serif!important;">
                                                                    {{prodotto.nomeProdotto}}</h6>

                                                            </div>

                                                            <div class="col-12 pl-3">
                                                                <h6 class="custom-text">Prezzo : <b
                                                                        style="opacity: 0.7;">{{prodotto.prezzo }} € /
                                                                        {{prodotto.unita }}</b></h6>

                                                            </div>

                                                        </div>

                                                        <div class="col-lg-6 col-xs-12">
                                                         
                                                                <div class="col-12">
                                                                    <h6 class="custom-text">Quantità rimanente :
                                                                        {{prodotto.qntRimanente}} / {{prodotto.unita }}
                                                                    </h6>
                                                                </div>
                                                           
                                                            <div *ngIf="!prodotto.addQntProdotto" class="col-12 p-0">
                                                                <button mat-button
                                                                    (click)="prodotto.addQntProdotto = true; prodotto.qntProdottoEdited = prodotto.qntRimanente"
                                                                    class="custom-text" style="color: #6c757d;">
                                                                    Modifica Qnt. Prodotto
                                                                </button>
                                                            </div>
                                                            <div *ngIf="prodotto.addQntProdotto" class="col-12">
                                                                <button mat-button
                                                                    (click)="prodotto.addQntProdotto = false;"
                                                                    class="custom-text" style="color: #6c757d;">
                                                                    Annulla
                                                                </button>

                                                                <mat-form-field class="example-full-width">
                                                                    <span matPrefix class="custom-text">
                                                                        {{prodotto.unita }}&nbsp;</span>
                                                                    <input type="number" [(ngModel)]="prodotto.qntProdottoEdited"
                                                                        matInput>
                                                                </mat-form-field>

                                                                <button *ngIf="prodotto.qntProdottoEdited !== prodotto.qntRimanente"
                                                                    mat-button (click)="modificaQnt(prodotto)"
                                                                    style="color: #6c757d;">
                                                                    Salva
                                                                </button>

                                                            </div>
                                                            <div class="col-12 p-0">
                                                                <button mat-button
                                                                    (click)="deleteProdottoFromMagazino(prodotto)"
                                                                    class="custom-text" style="color: #6c757d;">
                                                                    Elimina Prodotto
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </mat-card>

                                            </div>

                                        </div>
                                    </div>



                                </mat-tab>
                            </div>

                        </div>
                    </mat-tab-group>
                </div>

            </div>


        </div>

    </div>
</div>