<div class="row p-3" style="background-color: #f5f5f5;">

    <div class="col-lg-2 d-flex justify-content-center">

        <img style="max-height: 100px;"
            *ngIf="prodotto.image !== undefined && prodotto.image !== null && prodotto.image !== ''"
            alt="Web Studio" class="img-fluid" src="{{prodotto.image}}" />
        <img style="max-height: 100px;"
            *ngIf="prodotto.image === undefined || prodotto.image === null || prodotto.image === ''"
            alt="Web Studio" class="img-fluid" src="../../../assets/images/default.png" />


    </div>
    <div class="col-lg-10 pt-3">
        <div class="row">
            <h4>{{prodotto.nomeProdotto}} </h4>  
            
        </div>
        <div class="row">
            <h5 class="mt-1">Qnt selezionata :</h5>
             
            <app-incrementer style="min-width: 180px; margin-top: -3px; padding: 0;" [unita] = "prodotto.unita" (valueOutput) ="countQuantityToCart($event)"  (click)="$event.stopPropagation()" [value]="prodotto.qnt || 0" [step]="_step" [min]="_min" [max]="_max" [wrap]="_wrap"></app-incrementer>

        </div>
        <div class="row">
            <h6 >Prezzo : <b style="opacity: 0.7;">{{prodotto.prezzo }} € / {{prodotto.unita }}</b></h6>
        </div>
    </div>

</div>
