.img-card{
  height: 6rem; 
  width: 6rem; 
}

.container-img{
  background-color: #ececec;

}

/*Profile Card 5*/
.profile-card-5{
    width: 95%;
    height: auto;
    padding-bottom: 5px;
}

.card-img-block {
  height: 6rem; 
  width: 6rem; 
  max-height: 6rem !important; 
  position: relative;
  top: -20px ;
  background-color: white;
  border-radius:5px;
    box-shadow:0 0 3px rgba(121, 121, 121, 0.63);
  
}
