<div class="min-vh-100" *ngIf="isProjectEnable">
    <mat-sidenav-container class="main min-vh-100" fullscreen>
    
      <app-nav-bar></app-nav-bar>
    
      <div class="container pl-0 pr-0 mb-3 min-vh-100">
          <div class="row main">
              <div class="col-12 pt-3 pl-0 pr-0 main">
                  <router-outlet></router-outlet>
              </div>
          </div>
      </div>
      
      <app-side-bar></app-side-bar>
      
    </mat-sidenav-container>
    
</div>

<div *ngIf="!isProjectEnable">
    Project disabled
</div>
<app-spinner></app-spinner>