<mat-sidenav style="z-index: 999" [mode]="'over'" [opened]="openSideBar" class="mat-elevation-z10 p-3 border-0">
    <div class="d-flex flex-column">
        <div class="w-100 p-2 d-flex justify-content-center">
            <button mat-button></button>
        </div>
        <div *ngIf="isUtenteLogged" class="w-100 p-2 d-flex justify-content-center">
            <button mat-button (click)="logout()" style="color: #6c757d;">
                <mat-icon style="margin-top: -3px;">account_circle</mat-icon>
                {{utente.nome}} {{utente.cognome}}
            </button>
        </div>
        <div *ngIf="!isUtenteLogged" class="w-100 p-2 d-flex justify-content-center">
            <app-modal-signin-user></app-modal-signin-user>
        </div>
        <div *ngIf="isUtenteLogged" class="w-100 p-2 d-flex justify-content-center">
            <button mat-button (click)="logout()" style="color: #6c757d;">
                <mat-icon style="margin-top: -3px;">exit_to_app</mat-icon>
                Logout
            </button>
        </div>
        <div *ngIf="!isUtenteLogged" class="w-100 p-2 d-flex justify-content-center">
            <app-modal-login-user></app-modal-login-user>
        </div>
        <div *ngIf="isUtenteLogged" class="w-100 p-2 d-flex justify-content-center">
            <app-modal-corso></app-modal-corso>
        </div>
    </div>

    <mat-divider style="margin-bottom: 5px;"></mat-divider>
    
</mat-sidenav>