
    <div class="col-12 d-flex justify-content-center">
        <form [formGroup]="prodottiForm">
            <mat-form-field class="ml-4" style="width: 250px;">
                <mat-label>
                    <h5>Prodotti disponibili</h5>
                </mat-label>
                <mat-select formControlName="prodottiForm">
            
                    <mat-option *ngFor="let tipo of negozio.magazino.tipiAssociati" [(value)]="tipoSelected"
                        (click)="tipoSelected = tipo">
                        {{tipo.descrizione}}
                    </mat-option>
            
                </mat-select>
            </mat-form-field>
        </form>
    </div>


<div *ngIf="tipoSelected !== undefined" class="mt-3">

  
        <mat-tab-group>
            <div class="row">
                <div *ngFor="let sottoTipo of tipoSelected.sottoTipi">
                    <mat-tab label="{{sottoTipo.descrizione}}">
                        <div class="row w-100 pt-3 pl-4" >
                     
                         
                                <div *ngFor="let prodotto of sottoTipo.prodottiAssociati " class="col-md-4 col-sm-6 col-xs-6 pl-2">
                                    <app-prodotto-card-sm [prodotto]="prodotto"></app-prodotto-card-sm>
                                </div>
                         
                        </div>
                    </mat-tab>
                </div>
    
            </div>
        </mat-tab-group>
    
</div>