<div class="navbar navbar-dark bg-dark">
    <a href="" class="navbar-brand" style="font-family: American Typewriter, serif">
        
        Il tempio di bacco
    </a>
    <form class="form-inline">
        <button mat-button style="color: white;" (click)="goToAdminPage()">
            <mat-icon style="margin-top: -3px;">shopping_cart</mat-icon>
        </button>
       
        <button class="btn btn-lg" (click)="openSideBar()">
            <i class="fa fa-bars" style="color:white"></i>
        </button>

    </form>
    

    <div class="collapse navbar-collapse" id="collapse1">
        <div class="row d-flex justify-content-center mb-2">
            <div class="col-md-5 col-xs-8">
                <input class="form-control" type="search" placeholder="nome corso ..."/>
            </div>
        </div>
    </div>
       
</div>