<div class="navbar navbar-light bg-gray">
    <a href="" class="navbar-brand brand" >
        
        Il Tempio di Bacco 
    </a>
    <form class="form-inline">
        <button *ngIf="badgeCount > 0" mat-button style="color: #676767;" (click)="goToCartPage()">
            <mat-icon matBadge="{{badgeCount}}" matBadgeColor="warn" style="margin-top: -3px;">shopping_cart</mat-icon>
        </button>

        <button *ngIf="badgeCount === 0" mat-button style="color: #676767;" disabled="true">
            <mat-icon style="margin-top: -3px;">remove_shopping_cart</mat-icon>
        </button>
       
        <button class="btn btn-lg" (click)="openSideBar()">
            <i class="fa fa-bars" style="color:#676767"></i>
        </button>

    </form>
    

    <div class="collapse navbar-collapse" id="collapse1">
        <div class="row d-flex justify-content-center mb-2">
            <div class="col-md-5 col-xs-8">
                <input class="form-control" type="search" placeholder="nome corso ..."/>
            </div>
        </div>
    </div>
       
</div>