
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

button:focus { outline:0 !important; }

.swiper-pagination {
  bottom: 25px !important;
}

.custom-text {
  font-family: Amazon Ember,Amazon Arabic Ember,Arial,sans-serif!important; 
  font-size: calc(10px + (20 - 18) * ((100vw - 300px) / (1600 - 300)));
  line-height: 1.4;
}

.custom-h6 {
  font-family: Amazon Ember,Amazon Arabic Ember,Arial,sans-serif!important; 
  font-size: calc(13px + (20 - 18) * ((100vw - 300px) / (1600 - 300)));
  line-height: 1.4;
}