.img-card{
  height: 9rem; 
    width: 9rem; 
}

.container-img{
  background-color: #ececec;
  max-width: 36.666667% !important;

}

/*Profile Card 5*/
.profile-card-5{
    margin-top:10px;
    margin-left: 20px;
    width: 95%;
    flex-direction: row;
}

.profile-card-5 .card-img-block {
    height: 9rem; 
    width: 9rem; 
    max-height: 9rem !important; 
    position: relative;
    left: -40px ;
    background-color: white;
    
}
.profile-card-5 .card-img-block img{
    border-radius:5px;
    box-shadow:0 0 3px rgba(121, 121, 121, 0.63);
}