<div class="row d-flex justify-content-center mt-2 mw-100 ml-1">
  <button 
    mat-button 
    mat-icon-button 
    matPrefix 
    aria-label="Remove" 
    [color]="getColor()" 
    (click)="incrementValue(-_step)" 
    [disabled]="shouldDisableDecrement(_value)">
    <mat-icon>remove</mat-icon>
  </button>
  <h6 class="custom-h6 text-muted">{{_value}} / {{unita}}</h6>
  
  <button 
    mat-button 
    mat-icon-button 
    matSuffix
    aria-label="Add" 
    [color]="getColor()" 
    (click)="incrementValue(_step)" 
    [disabled]="shouldDisableIncrement(_value)">
    <mat-icon>add</mat-icon>
  </button>
</div>

