<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Sezione Prodotti">
        <div class="row mw-100 p-2">
            <app-sezione-prodotti [listTipi] = "listTipi" (adviceProdotto) = "adviceProdotto($event)"></app-sezione-prodotti>

        </div>

    </mat-tab>
    <mat-tab label="Amministrazione Negozi">
        <div class="row mw-100 p-2">
            <app-sezione-negozi [negozi] = "negozi" [listTipi] = "listTipi"></app-sezione-negozi>

        </div>
    </mat-tab>
  </mat-tab-group>
